@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes sway {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html,
body,
#root,
.App,
.content,
.background {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  margin: 0;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.daytime {
  background-image: url("../assets/desktop/bg-image-daytime.jpg");
}

.nighttime {
  background-image: url("../assets/desktop/bg-image-nighttime.jpg");
}

.quote,
.info-container,
.data-container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.content {
  color: #fff;
  letter-spacing: 0.2em;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.content .info-container {
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
}

@media screen and (min-width: 768px) {
  .content .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: normal;
}

.quote button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.greeting .sun-icon {
  -webkit-animation: rotation 8s infinite linear;
          animation: rotation 8s infinite linear;
}

.greeting .moon-icon {
  -webkit-animation: sway 6s infinite linear;
          animation: sway 6s infinite linear;
}

.greeting span {
  display: none;
}

@media screen and (min-width: 768px) {
  .greeting span {
    display: inline-block;
  }
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clock .current-time {
  font-size: 80px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

@media screen and (min-width: 768px) {
  .clock .current-time {
    font-size: 150px;
  }
}

.clock .time-data {
  font-size: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.clock .time-data .time-zone {
  margin-bottom: 0.8em;
}

@media screen and (min-width: 768px) {
  .clock .time-data {
    font-size: 30px;
  }
}

.location {
  text-transform: uppercase;
}

.light {
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
}

.dark {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.more-info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.data {
  width: 100%;
  height: 40%;
  margin: 0 auto;
  position: absolute;
  bottom: -3550px;
  -webkit-transform: translate3d(0, 0em, 0);
          transform: translate3d(0, 0em, 0);
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

.data .data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.data .data-container .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .data .data-container .info {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.data .data-container .info p {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .data .data-container .info p {
    font-size: 15px;
  }
}

.data .data-container .info h2 {
  font-size: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .data .data-container .info h2 {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .data .data-container .info h2 {
    font-size: 56px;
  }
}

.active {
  position: relative;
  bottom: 0;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0em, 0);
          transform: translate3d(0, 0em, 0);
}

@media screen and (min-width: 768px) {
  .active {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@keyframes sway {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html,
body,
#root,
.App,
.content,
.background {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  margin: 0;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */