@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    #root {
      height: 100%;
      width: 100%;
    }
  }
}

h1 {
  margin: 0;
  //font-size: 150px;
  font-weight: bold;
}

.App {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 1;

  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 1;
  }
}

.content {
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote-entry,
.info-container,
.data-container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.clock {
  display: flex;
  flex-direction: row;
  .current-time {
    font-size: 100px;
    align-self: flex-end;
    justify-self: flex-end;
  }
  .time-zone {
    font-size: 30px;
    margin: 0.5em;
    align-self: flex-end;
  }
}

.more-info {
  width: fit-content;
  padding: 0.5em 1em;
  border: none;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.data {
  color: #000;
  background-color: rgba(255, 255, 255, 0.562);
  flex-direction: row;
  width: 100vw;
  margin: 0 auto;
  flex-wrap: wrap;
  position: absolute;
  bottom: -100px;
  display: none;
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    p,
    h2 {
      margin: 0.4em 0;
    }
  }
}

.active {
  position: relative;
  bottom: 0;
  display: flex;
}

//Quote Entry
.quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button {
    width: fit-content;
    height: fit-content;
    border: none;
    background: none;
  }
}
