@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    #root {
      height: 100%;
    }
  }
}

h1 {
  margin: 0;
  //font-size: 150px;
  font-weight: bold;
}

.data {
  display: flex;
  flex-direction: column;

  .time {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .time-zone {
      font-size: 24px;
    }
  }
}

.App {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info {
  width: fit-content;
  padding: 0.5em 1em;
  border: none;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.extra-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
  }
}
